{% extends "navbar.html" %}
{% load staticfiles %}
{% block title1 %}
  <meta name="description" content="Business Website for Samwel Opiyo, a Web and Mobile Applications Developer.">
  <title>Home|samwelopiyo.com : Agricultural Product Prices in Kenya</title>


{% endblock title1 %}
{% block content1 %}
<div class="container">


<br/><br/><hr/>


<table class="table table-bordered">
  <tr>
    <th><center>Object ID</center></th>
    <th><center>Commodity Type</center></th>
    <th><center>Produce Variety</center></th>
    <th><center>Volume in Kgs</center></th>
    <th><center>Unit</center></th>
    <th><center>Date</center></th>
    <th><center>Values in Ksh</center></th>
  </tr>






    {% for b in data %}
    {% for c, d in b.items %}

    <tr>
      <td><center>{{ d.OBJECTID }}</center></td>
      <td><center>{{ d.Commodity_Type }}</center></td>
      <td><center>{{ d.Produce_Variety }}</center></td>
      <td><center>{{ d.Volume_in_Kgs }}</center></td>
      <td><center>{{ d.Unit }}</center></td>
      <td><center>{{ d.Date }}</center></td>
      <td><center>{{ d.Values_in_Ksh }}</center></td>
    </tr>

    {% endfor %}
    {% endfor %}
    






</table>







</div>

{% endblock content1 %}
<!--{% for each in data.features.0.items %}
<tr>
  <td><center>{{ each.attributes.OBJECTID }}</center></td>
  <td><center>{{ each.attributes.Commodity_Type }}</center></td>
  <td><center>{{ each.attributes.Produce_Variety }}</center></td>
  <td><center>{{ each.attributes.Volume_in_Kgs }}</center></td>
  <td><center>{{ each.attributes.Unit }}</center></td>
  <td><center>{{ each.attributes.Date }}</center></td>
  <td><center>{{ each.attributes.Values_in_Ksh }}</center></td>
</tr>
{% endfor %}-->
