{% extends "base.html" %}
{% load staticfiles %}
{% block title1 %}
  <meta name="description" content="">
  <title></title>


{% endblock title1 %}
{% block content1 %}
<div class="container">


<br/><br/><hr/>

<div class="input-group col-xs-4">
    <input type="search" class="light-table-filter form-control" data-table="order-table" placeholder="Filter"><br>
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
 </div>
<p style="color:brown;">Filter for this page only!</p>
<table class="table table-bordered order-table table">
  <tr>
    <th><center>ID</center></th>
    <th><center>Customer Mobile Number</center></th>
    <th><center>Customer Id</center></th>
    <th><center>Customer Name</center></th>
    <th><center>Customer Account No</center></th>
    <th><center>Loan Amount</center></th>
    <th><center>Loan Issue Date</center></th>
    <th><center>Loan Balance</center></th>
    <th><center>Loan Due Date</center></th>
  </tr>






    {% for due in dues %}
    

    <tr>
      <td><center>{{ due.0 }}</center></td>
      <td><center>{{ due.8 }}</center></td>
      <td><center>{{ due.2 }}</center></td>
      <td><center>{{ due.1 }}</center></td>
      <td><center>{{ due.3 }}</center></td>
      <td><center>{{ due.4|floatformat:2 }}</center></td>
      <td><center>{{ due.6 }}</center></td>
      <td><center>{{ due.5|floatformat:2 }}</center></td>
      <td><center>{{ due.7 }}</center></td>
    </tr>

    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if dues.has_previous %}
            <a href="?page={{ dues.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ dues.number }} of {{ dues.paginator.num_pages }}.
        </span>

        {% if dues.has_next %}
            <a href="?page={{ dues.next_page_number }}">next</a>
        {% endif %}
    </span>
	 </div>
    






</table>







</div>
<script type="text/javascript" >
(function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
</script>


{% endblock content1 %}
