{% extends "base.html" %}
{% load staticfiles %}
{% block title1 %}
  <meta name="description" content="">
  <title></title>


{% endblock title1 %}
{% block content1 %}
<div class="container">


<br/><br/><hr/>


<table class="table table-bordered">
  <tr>
    <th><center>ID</center></th>
    <th><center>Customer Mobile Number</center></th>
    <th><center>Customer Id</center></th>
    <th><center>Customer Name</center></th>
    <th><center>Customer Account No</center></th>
    <th><center>Loan Amount</center></th>
    <th><center>Loan Issue Date</center></th>
    <th><center>Loan Balance</center></th>
    <th><center>Loan Due Date</center></th>
  </tr>






    {% for due in dues %}
    

    <tr>
      <td><center>{{ due.0.id }}</center></td>
      <td><center>{{ due.0.cust_mobile_number }}</center></td>
      <td><center>{{ due.0.cust_id }}</center></td>
      <td><center>{{ due.0.cust_name }}</center></td>
      <td><center>{{ due.0.cust_acno }}</center></td>
      <td><center>{{ due.0.loan_amount }}</center></td>
      <td><center>{{ due.0.loan_issue_date }}</center></td>
      <td><center>{{ due.0.loan_balance }}</center></td>
      <td><center>{{ due.0.loan_due_date }}</center></td>
    </tr>

    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if dues.has_previous %}
            <a href="?page={{ dues.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ dues.number }} of {{ dues.paginator.num_pages }}.
        </span>

        {% if dues.has_next %}
            <a href="?page={{ dues.next_page_number }}">next</a>
        {% endif %}
    </span>
	 </div>
    






</table>







</div>

{% endblock content1 %}
