{% extends "base.html" %}
{% load staticfiles %}
{% block title1 %}
  <meta name="description" content="">
  <title></title>


{% endblock title1 %}
{% block content1 %}
<div class="container">


<br/><br/><hr/>


<table class="table table-bordered">
  <tr>
    <th><center>Id</center></th>
    <th><center>National Id</center></th>
    <th><center>Mobile Number</center></th>
    <th><center>Fully Cleared</center></th>
    <th><center>Date Cleared</center></th>
    <th><center>Clearing Mpesa Transaction Id</center></th>
    <th><center>Batch Numbers</center></th>
  </tr>






    {% for profile in profiles %}
    

    <tr>
      <td><center>{{ profile.0.id }}</center></td>
      <td><center>{{ profile.0.national_id }}</center></td>
      <td><center>{{ profile.0.mobile_number }}</center></td>
      <td><center>{{ profile.0.fully_cleared }}</center></td>
      <td><center>{{ profile.0.date_cleared }}</center></td>
      <td><center>{{ profile.0.clearing_mpesa_trans_id }}</center></td>
      <td><center>{{ profile.0.batch_numbers }}</center></td>
    </tr>

    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if profiles.has_previous %}
            <a href="?page={{ profiles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}.
        </span>

        {% if profiles.has_next %}
            <a href="?page={{ profiles.next_page_number }}">next</a>
        {% endif %}
    </span>
	</div>
    
    






</table>







</div>

{% endblock content1 %}
